<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cilicili.auth2.mapper.ExpMapper">

    <resultMap id="BaseResultMap" type="com.cilicili.auth2.model.entity.Exp">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="currentLevel" column="current_level" jdbcType="INTEGER"/>
            <result property="currentExp" column="current_exp" jdbcType="INTEGER"/>
            <result property="nextExp" column="next_exp" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,current_level,
        current_exp,next_exp
    </sql>
</mapper>
